<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Book</title>
</head>
<body>
    <p>Are you sure you want to delete {{book.title}}?</p>
    <form method="POST">
        <input type="submit" value="Delete"> <a href="/">Cancel</a>
    </form>
</body>
</html>