<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
</head>
<body>
    <form method="POST">
    <label for="name">Name:</label><br/><br/>
    <input type="text" name="name" placeholder="{{book.title}}">
    <input type="submit" value="Edit">
    <a href="/">Cancel</a>
    </form>
</body>
</html>