<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Books</title>
</head>
<body>
    <div>
        <h2>Books</h2>
        {% for book in books %}
        <div class="book_list">
        {{ book.title }}<br/>
        <a href="book/{{book.id}}/edit">Edit Books</a><br/>
        <a href="book/{{book.id}}/delete">Delete Books</a><br/>
        </div>
        {% endfor %}
    </div>
</body>
</html>